.game-menu {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 2px;
    opacity: 1;
    transition: opacity .3s;

    .menu-title {
        font-size: 50px;
        margin-bottom: .5em;
    }
    
    .menu-options {
        list-style: none;
        list-style-position: unset;
        padding: 0;
        
        li {
            font-size: 20px;
            padding-bottom: .75em;
            cursor: pointer;
            transition: font-size .5s;

            &:not(.disabled):hover {
                font-size: 30px;
                color: #e1e1e1;
                letter-spacing: 3px;
            }

            &.disabled {
                opacity: .5;
                cursor: initial;
            }
        }
    }
}
